body {
    font-family: Helvetica, Arial;
    background-image: url('tardis-bkgd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: lightblue;
  }

.jumbotron {
    background-color: transparent!important;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: x-large;
}

.container {
    max-width: 800px;
}

.card {
    max-width: 800px;
    margin: auto;
    background-color: transparent!important;
    align-content: center;
    border: none;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: large;
}

.card-text {
    margin: 15px;
    text-shadow: 2px 2px 4px gray;
    
}

button {
    margin: 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: midnightblue;
    border-color: midnightblue;
}

.form-inline {
    margin: 20px;
}
img {
    margin: 20px;
}

#gif-me {
    background-color: blue;
    color: white;
    border: none;
}

#gif-me:hover {
    background-color: white;
    color: midnightblue;
    border-color: midnightblue;
    transition-duration: 0.4s;
}
