body {
    font-family: Helvetica, Arial;
    background-image: url('tardis-bkgd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: lightblue;
  }

.jumbotron {
    background-color: transparent!important;
    text-align: center;
}

.container {
    max-width: 800px;
}

.card {
    max-width: 800px;
    margin: auto;
    background-color: transparent!important;
    align-content: center;
    border: none;
}

button {
    margin: 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border-color: transparent;
}
.form-inline {
    margin: 20px;
}
img {
    margin: 20px;
}

#gif-me {
    background-color: blue;
    color: lightblue;
    border-color: lightblue;
}